{
    "dev_listen_address": "127.0.0.1",
    "dev_port": 9196,

    "secret_key": "{{ pushsafer_webhook_docker__secret_key }}",

    "basic_auth_username": "{{ pushsafer_webhook_docker__auth_username }}",
    "basic_auth_password": "{{ pushsafer_webhook_docker__auth_password }}",

    "pushsafer_privatekey": "{{ pushsafer_webhook_docker__pushsafer_privatekey }}",

    "pushsafer_device_or_group": "{{ pushsafer_webhook_docker__pushsafer_device_or_group }}"
}
